<section class="activity-history">
    <header>
        <div class="back-button" (click)="onBackPressed()">
            <svg xmlns="http://www.w3.org/2000/svg" width="27.656" height="35" viewBox="0 0 27.656 35">
                <defs>
                    <filter id="Arrow_" width="27.656" height="35" x="0" y="0" filterUnits="userSpaceOnUse">
                        <feOffset dy="3"/>
                        <feGaussianBlur result="blur" stdDeviation="3"/>
                        <feFlood flood-opacity=".161"/>
                        <feComposite in2="blur" operator="in"/>
                        <feComposite in="SourceGraphic"/>
                    </filter>
                </defs>
                <g filter="url(#Arrow_)">
                    <path id="Arrow_2" fill="rgba(0,0,0,0.6)" fill-rule="evenodd"
                          d="M720.456 1174.787a.721.721 0 0 0 1 0 .69.69 0 0 0 0-.988l-7.554-7.438 7.552-7.18a.686.686 0 0 0 0-.984.712.712 0 0 0-1 0l-8.441 8.164z"
                          data-name="Arrow" transform="translate(-703.01 -1151.99)"/>
                </g>
            </svg>
        </div>
        <p class="title"> Training Log</p>

        <div class="menu">
            <span>⋮</span>
        </div>
    </header>
    <ion-list class="cards" scrollY="true">
        <ion-item *ngFor="let train of trains;let i=index;">
            <div class="card">
                <div class="target">
                    <div class="icon">
                        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18">
                            <path id="goal" fill="#fff"
                                  d="M16.679 4.3l.873-.873a.527.527 0 0 0-.329-.9L15.6 2.4 15.467.777a.527.527 0 0 0-.9-.328l-.873.873A9 9 0 0 0 2.636 15.364 9 9 0 0 0 16.679 4.3zM14.59 2.929a.528.528 0 0 0 .481.481l.929.079-1.258 1.261-1.375-.116-.117-1.376L14.511 2zM10.793 9a1.795 1.795 0 1 1-.955-1.584L8.627 8.627a.527.527 0 1 0 .746.746l1.211-1.211a1.781 1.781 0 0 1 .209.838zM10.6 6.649a2.851 2.851 0 1 0 .746.746l1.506-1.506a4.963 4.963 0 1 1-.746-.746zm4.013 7.969A7.945 7.945 0 1 1 3.382 3.382a7.949 7.949 0 0 1 9.544-1.291l-.595.595a.527.527 0 0 0-.154.359v.058l.071.841a6.017 6.017 0 1 0 1.806 1.806l.841.071h.127l.033-.006.021-.005.032-.01.02-.007.031-.013.019-.009.03-.017.018-.01.03-.022.014-.01a.523.523 0 0 0 .041-.037l.595-.595a7.949 7.949 0 0 1-1.291 9.544zm0 0"/>
                        </svg>
                    </div>
                    <div class="stats">
                        <p class="counter">DRILL # {{i + 1}}</p>
                        <p>{{train.pointsGained}} points</p>
                    </div>
                </div>
                <div class="score">
                    <div class="hits">
                        <p class="score-value"><b>{{train.hits.length}}/ {{train.numberOfBullets}}</b></p>
                        <p>HITS</p>
                    </div>

                    <div class="range">
                        <b>{{train.range}}</b>
                        <p>RANGE</p>
                    </div>
                </div>
                <div class="show-more" [ngClass]="{'active': openShowMore }" style=" margin: 0.5em;">
                    <div *ngIf="!train.openShowMore" (click)="train.openShowMore = !train.openShowMore;"
                         style="display: flex;justify-content: center;     color: #707070;align-items: center;flex-direction: column;">
                        <span class="see-target">SEE TARGET</span>
                        <svg xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 16 5"
                             style=" width: 16px;  height: 5px;">
                            <defs>
                                <style>.cls-1555 {
                                    fill: #707070;
                                }</style>
                            </defs>
                            <title>Group 846</title>
                            <g id="Group_846" data-name="Group 846">
                                <path id="Rectangle_1895" data-name="Rectangle 1895" class="cls-1555"
                                      d="M1,0H15a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H1A1,1,0,0,1,0,1H0A1,1,0,0,1,1,0Z"/>
                                <path id="Rectangle_1896" data-name="Rectangle 1896" class="cls-1555"
                                      d="M1,3H15a1,1,0,0,1,1,1h0a1,1,0,0,1-1,1H1A1,1,0,0,1,0,4H0A1,1,0,0,1,1,3Z"/>
                            </g>
                        </svg>
                    </div>
                    <div class="hidden-content" #container>
                        <ng-container *ngIf="train.openShowMore">
                            <img src="assets/bullseye.png">
                            <div class="hit" *ngFor="let shot of train.hits; let i = index" style="position: absolute;  "
                                 [style.top.px]=shot.y
                                 [style.right.px]=shot.x>
                                {{i + 1}}
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </ion-item>
    </ion-list>
</section>
