@import "../../../assets/colors";
:host{
  height: 100%;
}
.activity-history {
  display: flex;
  height: 100%;
  width: 100%;
  flex-direction: column;
  background: #f9f9f9;

  header {
    align-items: center;
    height: 25vw;
    display: flex;
    background-color: $headerBG;

    .back-btn-container {
      position: absolute;
      left: 5px;

      svg {
        height: 20px;
        width: 20px;
      }
    }

    h1 {
      width: 100%;
      text-align: center;
      margin: 0;
    }
  }

  .train-line {
    display: flex;
    color: black;
    align-items: center;
    background: white;
    box-shadow: 0 1px 0px rgba(0, 0, 0, 0.19), 0 0px 5px rgba(0, 0, 0, 0.23);

    .right-side-and-train-info-container {
      width: 60vw;
      display: flex;
      align-items: center;
      padding-left: 10px;

      .right-side {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 20vw;
        padding-right: 20px;

        .circle {
          border: 2px solid #e9d7bf;
          height: 4vw;
          width: 4vw;
          border-radius: 100%;
        }

        hr {
          background-color: #cbcbcb;
          height: 3vw;
          width: 0.5vw;
          margin: 0;
        }
      }

      .train-info {
        .date {
          font-weight: 600;
          font-size: 5vw;
        }

        .day {
          color: #5a5a5a;
          font-size: 4.8vw;
        }

        .light-text {
          color: #848484;
          font-weight: 100;
        }
      }
    }
  }

  .history-card {
    display: flex;
    flex-direction: row;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    margin-bottom: 15px;

    .info-wrapper {
      width: 100%;
      background: white;
    }

    .right-line {
      width: 15px;
      background: #dfa14c;
    }

    .title {
      display: flex;
      height: 20vw;
      background: white;
      align-items: center;

      img {
        height: 15vw;
        width: 15vw;
        padding: 0.5em;
      }

      div {
        display: flex;
        align-items: center;
        flex-direction: column;

        p {
          margin: 0;
        }
      }
    }

    .stats {
      background-color: #eae8e8;
      display: flex;
      justify-content: space-evenly;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      height: 20vw;
      align-items: center;

      .hits {
        display: flex;
        flex-direction: column;
        align-items: center;
        div {
          display: flex;
          align-items: center;

          h1 {
            margin: 0
          }

          h2 {
            margin: 0
          }
        }
      }

      .range {
        text-align: center;
        h1 {
          margin: 0
        }

        h2 {
          margin: 0
        }
      }
    }

    .description {
      padding: 0.5em;
      background-color: white;
      p {
        color: #acacac;
        font-size: 4vw;
        margin: 0;
        font-weight: 100;
      }
    }

    .more-info {
      display: flex;
      justify-content: center;
    }
  }

}

.activity-history-container {
  padding-right: 13px;
  padding-left: 10px;
  padding-top: 30px;
  overflow-y: auto;
}

.see-target {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    padding-right: 10px;
  }
}

.target-container {

}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #fff;
}

.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.panel {

}

.menuBtn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  span{
    font-size: 40px;
    font-weight: bold;
    color: $profile-bg;
  }
}

.main-image{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  img{
    width: 70vw;
  }
}


