<section class="activity-history">
    <header>
        <div class="back-btn-container" (click)="onBackPressed()">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.721 22.938">
                <defs>
                    <style>
                        .chevron {
                            fill: #fff;
                            stroke: #6f6f6f;
                            stroke-linecap: round;
                            stroke-width: 3.5px
                        }
                    </style>
                </defs>
                <path id="left_chevron"
                      d="M-2888.028-952.029l-1.276 1.208 1.276-1.208L-2898-962l9.972 9.972L-2877.5-962l-10.525 9.972 1.208 1.208z"
                      class="chevron" data-name="left chevron" transform="rotate(90 -1924.394 974.844)"/>
            </svg>
        </div>
        <h1 class="title"> Training History</h1>
        <button class="menuBtn" mat-button [matMenuTriggerFor]="menu" style="">
            <span>⋮</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </header>
    <div class="train-line">
        <div class="right-side-and-train-info-container">
            <div class="right-side">
                <div class="circle"></div>
                <hr>
                <hr>
                <hr>
            </div>
            <div class="train-info">
                <p><span class="date">{{beutifiedDate}}</span>, <span class="day">{{currentDay}}</span></p>
                <p class="light-text"> {{numOfTrainings}} Drills</p>
            </div>
        </div>
    </div>
    <div class="activity-history-container">
        <div class="history-card" *ngFor="let drill of drills; let i = index">
            <div class="right-line">

            </div>
            <div class="info-wrapper">
                <div class="title">
                    <div class="img-container" [ngSwitch]="drill.drillType">
                        <img *ngSwitchCase="'Zero'" src="../../assets/images/bullseye_black.png">
                        <img *ngSwitchCase="'Hostage'" src="../../assets/images/conv_a_bullseye_head.png">
                    </div>
                    <div>
                        <p>Drill {{i}}</p>
                        <span>{{drill.points}} Points</span>
                    </div>
                </div>
                <div class="stats">
                    <div class="hits">
                        <div><h1>{{drill.hits}}</h1>/<h2>{{drill.totalShots}}</h2></div>
                        <span class="hint">HITS</span>
                    </div>
                    <div class="range">
                        <h1 class="meter">{{drill.range}}</h1>
                        <span class="hint">RANGE</span>
                    </div>
                    <div class="limit">
                        <span *ngIf="!drill.timeLimit" class="hint">NO TIME LIMIT</span>
                        <span *ngIf="drill.timeLimit" class="hint">{{drill.timeLimit}}</span>
                    </div>
                </div>
                <div class="description">
                    <p>Recommendation</p>
                    <span>{{drill.recommendation}}</span>
                </div>
                <hr style="height: 1px;width: 40%;background: #cdcdcd;">

                <mat-accordion *ngIf="drill &&  drill.drillType">
                    <mat-expansion-panel>
                        <mat-expansion-panel-header>
                            <mat-panel-title>
                                Personal data
                            </mat-panel-title>
                            <mat-panel-description>
                                Type your name and age
                            </mat-panel-description>
                        </mat-expansion-panel-header>

                        <div class="panel">
                            <div class="main-image" #screen [ngSwitch]="drill.drillType">
                                <img *ngSwitchCase="'Bullseye'" #container src="../../../assets/images/bullseye_red.png"
                                     alt="bullsEye"
                                >
                                <img
                                    #container src="../../../../assets/icons/Hostage.png" alt="Hostage"
                                    *ngSwitchCase="'Hostage'">
                                <img
                                    #container src="../../../assets/images/bullseye_red.png"
                                    *ngSwitchCase="'Zero'">
                                <div *ngFor="let shot of drill.shots" style="position: absolute;height:100%;width:100%">
                                    <img src="../../../assets/images/bullethit.png"
                                         style="position: absolute;height:35px;width:35px"
                                         [style.top.px]=shot.y
                                         [style.right.px]=shot.x
                                    >
                                </div>
                            </div>
                        </div>
                        <div class="header-wrapper">
                            <p class="title">Bullets</p>
                            <p class="title">AVG-DIS</p>
                            <p class="title">Time</p>
                            <p class="title">Split</p>
                            <p class="title">Points</p>
                        </div>
                        <div class="details" *ngFor="let stat of stats">
                            <div class="box">
                                <p>{{stat.pageData.counter}}</p>
                            </div>

                            <div class="box">
                                <p>{{stat.pageData.distanceFromCenter | number : '1.2-2'}}</p>
                            </div>

                            <div class="box">
                                <p>
                                    {{stat.interval}}
                                </p>
                            </div>

                            <div class="box">
                                <p>{{stat.pageData.splitTime}}</p>
                            </div>

                            <div class="box">
                                <p>{{stat.pageData.points | number : '1.2-2'}}</p>
                            </div>
                        </div>
                        <div class="divider">
                            <hr>
                        </div>
                        <div class="summmaryRow" *ngIf="summaryObject">
                            <div class="box">
                                <p>{{summaryObject.counter}}</p>
                            </div>

                            <div class="box">
                                <p>{{summaryObject.distanceFromCenter | number : '1.2-2'}}</p>
                            </div>

                            <div class="box">
                                <p>
                                    {{summaryObject.totalTime}}
                                </p>
                            </div>

                            <div class="box">
                                <p>{{summaryObject.split}}</p>
                            </div>

                            <div class="box">
                                <p>{{summaryObject.points | number : '1.2-2'}}</p>
                            </div>
                        </div>
                    </mat-expansion-panel>
                </mat-accordion>

            </div>
        </div>
    </div>
</section>
