@import "../../../../assets/colors";

section.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  position: relative;

  background-image: url("../../../../assets/login-bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  img.logo {
    width: 93px;
    height: 130px;
    margin: 50px auto 79px auto;
  }

  div.form {
    box-sizing: border-box;
    padding: 0 16px;
    width: 100%;

    form {
      display: flex;
      flex-direction: column;

      div.row {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        margin-bottom: 30px;

        div.errors {
          display: flex;
          align-items: flex-start;
          width: 100%;
          box-sizing: border-box;
          padding: 0 32px;
          p.error-message {
            font-size: 12px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.17;
            letter-spacing: 0.4px;
            text-align: left;
            color: #ce564b;
            margin: 0;
            padding: 0.5em 0;
          }
        }


        ::ng-deep {



          .mat-form-field {
            width: 100%;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: 1.19;
            letter-spacing: 0.15px;
            text-align: left;
            color: rgba(255, 255, 255, 0.87);
          }

          .mat-form-field-wrapper {
            padding-bottom: 0 !important;
          }

          .mat-form-field-appearance-outline.mat-focused .mat-form-field-outline-thick {
            color: #ce564b;
          }

          .mat-form-field.mat-focused .mat-form-field-label {
            color: #ce564b;
          }

        }
      }
    }

    button.start {
      width: 100%;
      height: 56px;
      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      background-color: #ce564b;

      font-size: 14px;
      font-weight: 500;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 1.25px;
      text-align: center;
      color: #ffffff;
    }

    p.forgot {
      font-size: 16px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.19;
      letter-spacing: 0.15px;
      color: #ffffff;
      text-align: right;
      margin: 0;
      margin-top: 20px;
    }

  }

  a {
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: 0.19px;
    text-align: left;
    color: #ffffff;

    position: absolute;
    bottom: 48px;
    left: 50%;
    transform: translateX(-50%);
  }
}
