<section class="login" *ngIf="showSignin && !forgotPassword">
    <!--    <img class="logo" src="/assets/logo.png" alt="logo">-->
    <img class="logo" src="assets/logo.png">
    <p class="sign-in">Sign <span>In</span></p>
    <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="onLogin()">
            <div class="row">
                <label>
                    <input value="zeeshan@yopmail.com" type="email" formControlName="email" placeholder="Email">
                </label>

                <div class="errors" *ngIf="submitted && f.email.errors">
                    <p class="error-message" *ngIf="f.email.errors.required">Email is required</p>
                    <p class="error-message" *ngIf="f.email.errors.email">Email must be a valid email
                        address
                    </p>
                </div>
            </div>

            <div class="row">
                <label>
                    <input value="12345678" formControlName="password" [type]="fieldTextType ? 'text' : 'password'"
                           placeholder="Password">
                </label>

                <div class="errors" *ngIf="submitted && f.password.errors">
                    <p class="error-message" *ngIf="f.password.errors.required">Password is required</p>
                    <p class="error-message" *ngIf="f.password.errors.minlength">Password must be at least 6
                        characters </p>
                </div>
            </div>
        </form>
        <button class="start" (click)="onLogin()">START SESSION</button>
        <p class="forgot" (click)="forgotPassword =true;">Forgot your password?</p>
    </div>
    <div class="create-account-container">
        <a (click)="goToSignUp()">I don’t have an account. Create one!</a>
    </div>
</section>

<app-signup-wizard (closWizard)="closeWizard()" *ngIf="showWizard"></app-signup-wizard>

<section *ngIf="forgotPassword" class="login">
    <div (click)="forgotPassword = !forgotPassword" class="x"> X</div>
    <img class="logo" src="/assets/logo.png" alt="logo">
    <form [formGroup]="registerForm" (ngSubmit)="onLogin()">
        <div class="row">
            <h4 style="text-align: center;color: white;">Please enter your email, A reset password email will be sent to
                this address</h4>
            <mat-form-field appearance="outline" style="padding: 0.5em;width: 100%  ">
                <mat-label>Email</mat-label>
                <input type="email" formControlName="email" matInput placeholder="Email" [(ngModel)]="resetemail">
            </mat-form-field>
            <div class="create-account-container">
                <a (click)="resetPassword()">Reset Password</a>
            </div>
        </div>
    </form>

</section>
