<ion-content>
    <header>
        <ion-icon style="position: absolute;left: 0;padding-left: 10px;" (click)="onSaveMySights()" ios="ios-arrow-back"
                  md="md-arrow-back"></ion-icon>
        <h1>Select Sight</h1>
    </header>
    <div class="wrapper">
        <ion-searchbar
                showcancelbutton=""
                (ionInput)="filterList($event)"
        ></ion-searchbar>
        <div *ngIf="mySights">
            <div class="allGuns">
                <img src="../../../assets/icons/rifle.png">
                <h1>My Sight</h1>
            </div>
            <ion-list>
                <ion-item *ngFor="let item of mySights">
                    <ion-label>{{ item}}</ion-label>
                    <ion-icon (click)="onRemoveFromList(item)" ios="ios-close-circle" md="md-close-circle"
                              size="large"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
        <div>
            <div class="allGuns">
                <img src="../../../assets/icons/rifle.png">
                <h1>All Sights</h1>
            </div>
            <ion-list>
                <ion-item *ngFor="let item of DEFAULT_SIGHTS">
                    <ion-label (click)="onAddSight(item)">{{ item }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
    </div>
    <div class="saveBtn">
        <button (click)="onSaveMySights()"> Save</button>
    </div>
</ion-content>
