<section class="dashboard">
    <header [class.ios-mode]="this.platform.is('ios')">
        <div class="personal-titles">
            <div>
                <!--                <p class="name">{{profile.first_name}} {{profile.last_name}}</p>-->
                <button [class.menuBtniOs]="this.platform.is('ios')" class="menuBtn" mat-button
                        [matMenuTriggerFor]="menu" style="">
                    <span>⋮</span>
                </button>
                <mat-menu #menu="matMenu">
                    <button mat-menu-item>Item 1</button>
                    <button mat-menu-item>Item 2</button>
                </mat-menu>
            </div>
        </div>
        <div class="personal-widget">
            <div class="points">
                <span class="amount" *ngIf="points">{{points}}</span>
                <p>points</p>
            </div>
            <div *ngIf="!profile.picture" class="avatar">
                <h1>{{profile.initials}}</h1>
            </div>
            <div *ngIf="profile.img" class="avatar">
                <img [src]="profile.img"/>
            </div>
            <div class="place">
                <span class="amount">Beginner</span>
            </div>
        </div>
    </header>
    <div class="container-background">
        <div class="top-container">
            <div class="slider-stats" *ngIf="data">

                <!-- Slides bug with the data that is saved -->
                <div class="arrow-left" (click)="onPrevSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.721 22.938">
                        <defs>
                            <style>
                                .chevron {
                                    fill: #fff;
                                    stroke: #6f6f6f;
                                    stroke-linecap: round;
                                    stroke-width: 3.5px
                                }
                            </style>
                        </defs>
                        <path id="left_chevron"
                              d="M-2888.028-952.029l-1.276 1.208 1.276-1.208L-2898-962l9.972 9.972L-2877.5-962l-10.525 9.972 1.208 1.208z"
                              class="chevron" data-name="left chevron"
                              transform="rotate(90 -1924.394 974.844)"/>
                    </svg>
                </div>
                <ion-slides (ionSlideDidChange)="slideChanged()" #slides [ngClass]="'myClass' + slideIndex"
                            [options]="options" class="slider" pager="true" style="height: 100%;    width: 100%;">
                    <ion-slide>
                        <div class="chart-and-stats">
                            <div class="stats">
                                <h1>HIT RATIO</h1>
                                <p *ngIf="hits && shots"><b>{{hits}}</b>/{{shots}}</p>
                            </div>
                            <div class="hitRatioChartContainer">
                                <div style="display: block;width: 100%;height:100%;">
                                    <div id="chartdiv" style="width: 100%; height: 30vh"></div>
                                </div>
                            </div>
                        </div>

                    </ion-slide>
                    <ion-slide>
                        <div class="chart-and-stats">
                            <div class="stats">
                                <h1>Rate Of Fire</h1>
                            </div>
                            <div class="hitRatioChartContainer">
                                <div style="display: block;width: 100%;height:100%;">
                                    <div id="rateOfFireChart" style="width: 100%; height: 30vh"></div>
                                </div>
                            </div>
                        </div>
                    </ion-slide>
                </ion-slides>
                <div class="arrow-right" (click)="onNextSlide()">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.721 22.938">
                        <defs>
                            <style>
                                .chevron {
                                    fill: #fff;
                                    stroke: #6f6f6f;
                                    stroke-linecap: round;
                                    stroke-width: 3.5px
                                }
                            </style>
                        </defs>
                        <path id="right_chevron"
                              d="M-2888.028-952.029l-1.276 1.208 1.276-1.208L-2898-962l9.972 9.972L-2877.5-962l-10.525 9.972 1.208 1.208z"
                              class="chevron" data-name="right chevron"
                              transform="rotate(-90 -956.514 -1919.785)"/>
                    </svg>
                </div>

            </div>
            <hr style="height: 1px;width: 40%;background: #cdcdcd;">
            <div class="summaryContainer" *ngIf="data && data.bestScores">
                <div class="text-container">
                    <p class="titleSummary">Longest Shoot</p>
                    <p class="valueSummary">{{data.bestScores.longestShot}}</p>
                </div>
                <div class="text-container">
                    <p class="titleSummary">Fast Avg Split</p>
                    <p class="valueSummary">{{data.bestScores.avgSplit | number : '1.2-2'}}</p>
                </div>
                <div class="text-container">
                    <p class="titleSummary">Best Avg Distance</p>
                    <p class="valueSummary">{{data.bestScores.avgDistance | number : '1.2-2'}}</p>
                </div>
                <div class="text-container">
                    <p class="titleSummary">Last Shooting Session</p>
                    <p class="valueSummary">{{data.bestScores.lastShooting | date:'fullDate'}}</p>
                </div>
            </div>
        </div>
        <div class="bottom-container">
            <div class="training-log-header">
                <hr style="height: 1px;width: 40%;background: #cdcdcd;">
                <p class="training-log-header"> Training Log</p>
            </div>
            <div class="history-container" *ngIf="historicTrainings">
                <div class="train-line" *ngFor="let train of historicTrainings | keyvalue"
                >
                    <div class="month">
                        <h1>{{train.key}}</h1>
                        <div *ngFor="let trainInmonth of train.value | keyvalue"
                             (click)="onActivityClicked(trainInmonth)">
                            <div class="right-side-and-train-info-container">
                                <div class="right-side">
                                    <div class="circle"></div>
                                    <hr>
                                    <hr>
                                    <hr>
                                </div>
                                <div class="train-info">
                                    <div>
                                        <span class="date">{{trainInmonth.key}}</span>,
                                        <span class="day">{{trainInmonth.value.day}}</span>
                                    </div>
                                    <div class="light-text"> {{trainInmonth.value.data.length}} Drills</div>
                                </div>
                            </div>
                            <div class="arrow-right" style="width: 10%;">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 13.721 22.938">
                                    <defs>
                                        <style>
                                            .history {
                                                fill: #f0e3d2;
                                                stroke: #f0e3d2;
                                                stroke-linecap: round;
                                                stroke-width: 3.5px
                                            }
                                        </style>
                                    </defs>
                                    <path id="right_chevron"
                                          d="M-2888.028-952.029l-1.276 1.208 1.276-1.208L-2898-962l9.972 9.972L-2877.5-962l-10.525 9.972 1.208 1.208z"
                                          class="history" data-name="right history"
                                          transform="rotate(-90 -956.514 -1919.785)"/>
                                </svg>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

    </div>
</section>

