@import "../../assets/colors";

section.dashboard {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;

  background-image: url("/assets/dashboard-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  div.menu {
    position: absolute;
    top: 50px;
    right: 5px;

    button {
      font-size: 35px;
    }
  }

  h3 {
    font-size: 40px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.18;
    letter-spacing: 0.52px;
    text-align: left;
    color: rgba(0, 0, 0, 0.87);

    padding: 31px 0 38px 42px;
  }

  div.profile {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    padding: 0 16px;

    div.avatar {
      width: 75px;
      height: 75px;
      border-radius: 38px;
      margin-right: 26px;

      background-image: url("/assets/avatar.jpg");
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }

    div.stats {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      div.text-and-icon {
        display: flex;
        align-items: center;
        justify-content: space-between;

        div.container {
          width: 24px;
          height: 24px;
          border-radius: 5px;
          -webkit-backdrop-filter: blur(30px);
          backdrop-filter: blur(30px);
          background-color: #363636;

          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-around;

          svg {
            fill: white;
            stroke: white;
          }
          margin-right: 8px;
        }

        p {
          font-size: 14px;
          font-weight: normal;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.14;
          letter-spacing: 2.18px;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }
    }
  }

  div.slides {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 34px;

    div.slide-container {
      width: 235px;
      height: 261px;
      border-radius: 20px;

      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #e4e4e4;

      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      box-sizing: border-box;
      padding: 30px 43px;

      div.chart-container {
        width: 141px;
        height: 141px;
      }

      &.center {
        div.chart-container {
          background-image: url("/assets/taget-fadded.svg");
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

      p {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 1.88px;
        text-align: center;
        color: rgba(0, 0, 0, 0.8);
      }

      p.middle {
        font-size: 16px;
        font-weight: 300;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.19;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
        padding-bottom: 19px;

        &.floating {
          position: absolute;
          top: 160px;
          left: 50%;
          transform: translate(-50%, -50%);

          font-size: 16px;
          font-weight: 300;
          font-stretch: normal;
          font-style: normal;
          line-height: 1.19;
          letter-spacing: normal;
          text-align: left;
          color: rgba(0, 0, 0, 0.8);
        }
      }

    }

  }

  div.static-images {
    display: flex;
    align-items: center;
    justify-content: space-evenly;

    padding-top: 17px;
    padding-bottom: 29px;

    div.image-container {
      width: 163px;
      height: 161px;

      border-radius: 20px;
      backdrop-filter: blur(13.6px);
      box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
      background-color: #e4e4e4;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;

      p {
        font-size: 13px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.15;
        letter-spacing: normal;
        text-align: left;
        color: rgba(0, 0, 0, 0.8);
      }
    }
  }

  div.date {
    display: flex;
    flex-direction: column;

    div.month {
      display: flex;
      align-items: center;
      margin-bottom: 19px;

      padding-left: 26px;

      div.icon {
        width: 24px;
        height: 24px;
        border-radius: 5px;
        background-color: rgba(0, 0, 0, 0.8);

        margin-right: 8px;

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;

      }

      p {
        font-size: 12px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.17;
        letter-spacing: 1.88px;
        color: rgba(0, 0, 0, 0.8);
        margin: 0;
      }
    }

    div.day {
      box-sizing: border-box;
      padding-left: 56px;

      display: flex;
      align-items: center;

      p {
        margin: 0;
        font-size: 14px;
        font-weight: bold;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.14;
        letter-spacing: 0.24px;
        color: rgba(0, 0, 0, 0.8);

        b {
          padding-right: 16px;
        }
      }
    }
  }

}
