<section class="wrapper" *ngIf="profile">
    <header *ngIf="showHeader">
        <h1>Personal Settings</h1>
        <button class="menuBtn" mat-button [matMenuTriggerFor]="menu" style="">
            <span>⋮</span>
        </button>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>Item 1</button>
            <button mat-menu-item>Item 2</button>
        </mat-menu>
    </header>
    <div class="user-img-name">
        <div *ngIf="!profile.img" class="edit-container" (click)="selectImage()">
            <img src="assets/avatar.svg">
        </div>
        <div class="image-and-name">
            <div *ngIf="profile.img" class="round-border">
                <img [src]="domSanitizer.bypassSecurityTrustUrl(profile.img)">
            </div>
            <div *ngIf="profile.first_name" class="name"> {{profile.first_name}} {{ profile.last_name}}</div>
        </div>
    </div>
    <hr>
    <div class="user-details">
        <div class="read-mode" *ngIf="!isEditMode">
            <div>
                <h3> Age</h3>
                <h3 class="value"> {{profile.age}}</h3>
            </div>
            <div>
                <h3> Gender</h3>
                <h3 class="value"> {{profile.gender}}</h3>
            </div>
            <div>
                <h3> Country</h3>
                <h3 class="value"> {{profile.country}}</h3>
            </div>
            <div>
                <h3> State</h3>
                <h3 class="value"> {{profile.state}}</h3>
            </div>
            <div>
                <h3> Email</h3>
                <h3 class="value"> {{profile.email}}</h3>
            </div>
        </div>
        <div class="edit-mode" *ngIf="isEditMode">
            <div class="edit-input-wrapper">
                <h3> Age</h3>
                <input type="number" [(ngModel)]="profile.age">
            </div>
            <div class="edit-input-wrapper">
                <h3> Gender</h3>
                <input [(ngModel)]="profile.gender">
            </div>
            <div class="edit-input-wrapper">
                <h3> Country</h3>
                <input [(ngModel)]="profile.conutry">
            </div>
            <div class="edit-input-wrapper">
                <h3> State</h3>
                <input [(ngModel)]="profile.state">
            </div>
            <div class="edit-input-wrapper">
                <h3> Email</h3>
                <input [(ngModel)]="profile.email">
            </div>
            <div style="width: 100%;">
                <button (click)="onSaveProfile()" class="edit-btn"> Save Profile</button>
            </div>
        </div>
    </div>
    <hr>
    <div [class.isDisabled]="isEditMode" class="default-drill">
        <div>
            <img src="../../assets/icons/rifle.png">
            <h5> GUN </h5>
            <!--            <ion-select multiple="true" cancelText="Nah" okText="Okay!">-->
            <!--                <ion-select-option *ngFor="let gun of gunList" value="{{gun}}">{{gun}}</ion-select-option>-->
            <!--            </ion-select>-->
            <div *ngIf="myGuns" class="gunsWrapper" (click)="onSelectWeapons()">
                <label>{{myGuns[0]}}</label>
                <label *ngIf="myGuns.length>1"> ... </label>
            </div>
            <span *ngIf=" !myGuns" (click)="onSelectWeapons()"> Select Default Weapon</span>
        </div>
        <hr>
        <div>
            <img src="../../assets/icons/gun-shooting-target.png">
            <h5> SIGHT </h5>
            <div *ngIf="mySights" class="gunsWrapper" (click)="onSelectSights()">
                <label>{{mySights[0]}}</label>
                <label *ngIf="mySights.length>1"> ... </label>
            </div>
            <span (click)="onSelectSights()" *ngIf="!mySights"> Select Default Sight</span>
        </div>
        <hr>
        <div>
            <img src="../../assets/icons/bullseye_red.png">
            <h5> TARGET </h5>
            <span (click)="onSelectTarget()" *ngIf="!myTarget"> Select Default Target</span>
            <span (click)="onSelectTarget()" *ngIf="myTarget"> {{myTarget.name}}</span>
        </div>
    </div>
    <div *ngIf="isFromWizard" class="finish-wizard">
        <button (click)="finishWizard()"> Finish Wizard</button>
    </div>
</section>
<app-gunlist (close)="onHidetWeapons()" class="gunlist" *ngIf="isGunList"></app-gunlist>
<app-sightlist (close)="onHideSights()" class="gunlist" *ngIf="isSightList"></app-sightlist>
<app-target-list (close)="onHideTargets()" *ngIf="selectTarget"></app-target-list>















