<ion-content>
    <header>
        <ion-icon style="position: absolute;left: 0;padding-left: 10px;" (click)="onSaveWeapons()" ios="ios-arrow-back"
                  md="md-arrow-back"></ion-icon>
        <h1 *ngIf="!models">Select Weapon Type</h1>
        <h1 *ngIf="models">Select Model</h1>
    </header>
    <div class="wrapper">
        <ion-searchbar
                showcancelbutton=""
                (ionInput)="filterList($event)"
        ></ion-searchbar>
        <div *ngIf="myGuns && !models">
            <div class="allGuns">
                <img src="../../../assets/icons/rifle.png">
                <h1>My Guns</h1>
            </div>
            <ion-list>
                <ion-item *ngFor="let item of myGuns">
                    <ion-label (click)="onShowModel(item)">{{ item}}</ion-label>
                    <ion-icon (click)="removeMyGun(item)" name="close"></ion-icon>
                </ion-item>
            </ion-list>
        </div>
        <div>
            <div class="allGuns">
                <img src="../../../assets/icons/rifle.png">
                <h1>All Guns</h1>
            </div>
            <ion-list *ngIf="!models">
                <ion-item *ngFor="let item of DEFUALT_GUNS | keyvalue">
                    <ion-label (click)="onShowModel(item)">{{ item.key }}</ion-label>
                </ion-item>
            </ion-list>
        </div>
        <ion-list *ngIf="models">
            <ion-item (click)="onModelClicked(item)" *ngFor="let item of models">
                <ion-label>{{ item.model }}</ion-label>

            </ion-item>
        </ion-list>
    </div>
    <div class="saveBtn">
        <button (click)="onSaveWeapons()"> Save</button>
    </div>
</ion-content>
