<section>
    <header>
        <div>
            <img (click)="onBackPressed()" src="assets/icons/Arrow%20@3x.png">
            <span>Select Weapon</span>
        </div>
    </header>
    <div class="content">
        <div class="all-weapons-title"> All Weapons</div>
        <div class="weapon-list-wrapper">
            <div (click)="onModelClicked(weapon)" class="weapon-list" *ngFor="let weapon of DEFUALT_GUNS">
                <span class="weapon-title">{{weapon}}</span>
                <img *ngIf="isWeaponSelected(weapon)" src="assets/icons/Icon%20-%20Check%20Circle%20-%20Filled.svg">
            </div>
        </div>
        <div class="place-holder"></div>
    </div>
</section>
