::ng-deep {
  .mat-dialog-container {
    background-color: white;
    padding: 0;
    border-radius: 15px;
  }
}

section.access-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding:  80px 19px 0 35px;
  position: relative;
  width: 100%;

  div.close {
    position: absolute;
    top: 14px;
    right: 14px;
  }

  p.title {
    font-size: 24px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    text-align: center;
    color: #000000;
    margin: 0;
  }

  div.main-icon {
    width: 38px;
    height: 65px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin: 40px 0;
  }

  p.text {
    font-size: 16px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.25;
    letter-spacing: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
    margin: 0;
  }


  div.controls {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 33px;
    width: 100%;

    button.confirm {
      height: 56px;
      width: 100%;

      border-radius: 4px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
      background-color: #ce564b;

      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      color: white;
      margin-bottom: 3px;
    }

    button.cancel {
      width: 100%;
      height: 56px;
      border-radius: 4px;
      border: solid 1px #ce564b;
      background-color: #ffffff;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 1.25px;
      color: #ce564b;
    }
  }
}
