<section>
    <p class="sign-up-title"> Sign Up</p>
    <div class="main-container" #stepper>
        <mat-horizontal-stepper [linear]="isLinear" #stepper (selectionChange)="onSelectionChanged($event)">
            <mat-step [completed]="false" [stepControl]="firstFormGroup">
                <div class="terms-and-condition">
                    <img src="./assets/icons/new/wizard/paper@3x.png">
                    <p class="terms-condition-text">
                        By using this application, You agree to the
                        <span class="link">Terms And Condition</span> and<br>
                        <span class="link">Privacy Policy</span>
                    </p>
                    <div class="btn-wrapper">
                        <button class="btn-accept-continue" mat-button matStepperNext>Accept and continue</button>
                        <button class="btn-cancel-continue" mat-button matStepperNext>Accept and continue</button>
                    </div>
                </div>
            </mat-step>
            <mat-step [completed]="false" [stepControl]="secondFormGroup">
                <app-signup (back)="onBackToLogin()"
                            (move)="onMoveToTargetSearch($event,stepper)"></app-signup>
            </mat-step>
            <mat-step [completed]="false" [stepControl]="thirdFormGroup">
                <app-tab3 (move)="onMoveToTargetSearch($event,stepper)"></app-tab3>
            </mat-step>
            <!--            <mat-step [completed]="false" [stepControl]="fourthGroup">-->
            <!--                <ng-template matStepLabel>Summary</ng-template>-->
            <!--                <app-wizard-summary></app-wizard-summary>-->
            <!--            </mat-step>-->
        </mat-horizontal-stepper>
    </div>
</section>
