@import "../../../../assets/colors";

:host {
  section {
    height: 100%;
    width: 100%;

    .sign-up-title {
      margin: 85px 0 35px 32px;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.31px;
    }


  }

  .terms-and-condition {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;

    img {
      width: 80px;
      height: 100px;
    }

    .terms-condition-text {
      text-align: center;
      padding: 40px;
    }
  }

  .main-container {
    height: 100%;
    width: 100%;
  }
}


.btn-accept-continue {
  width: 100%;
  background-color: #ce564b;
  margin-bottom: 10px;
  color: white;
  font-size: 14px;
  height: 56px;
}

.btn-cancel-continue {
  width: 100%;
  border:1px solid #ce564b;
  border-radius: 8px;
  color: #ce564b;
  font-size: 14px;
  height: 56px;
}

.btn-wrapper {
  width: 100%;
  padding-left: 16px;
  padding-right: 16px;

}
