<div id="custom-overlay" [style.display]="splash ? 'flex': 'none'">
    <img [@zoomIn]="zoomIn" class="logoImage" src="assets/adl-logo-gold.png">
    <div class="sentences">
        <div [@bounceInRight]="bounceInRight">Collect.</div>
        <div [@bounceInLeft]="bounceInLeft">Assess.</div>
        <div [@bounceInUp]="bounceInUp">Recommend.</div>
        <div [@bounceInDown]="bounceInDown">Perfect.</div>
    </div>
</div>



<ion-content>
    <div class="bg-image" *ngIf="!splash && isSignIn"></div>
    <div class="shadow" *ngIf="!splash && isSignIn"></div>
    <section class="wrapper" *ngIf="!splash  && isSignIn">
        <img src="assets/ontarget.png">
        <div class="centerPart" *ngIf="!splash">
            <div class="signin-wrapper" *ngIf="!splash && isSignIn">
                <div class="regular-wrapper">
                    <input [(ngModel)]="userName" placeholder="Email">
                    <input [(ngModel)]="password" type="password" placeholder="Password">
                    <span (click)="onLogin()">GO!</span>
                </div>
                <span (click)="goToSignUp()"> Forgot Password</span>
                <div class="social">
                    <button (click)="onFBClick()" class="loginBtn loginBtn--facebook">
                        Login with Facebook
                    </button>
                </div>
                <span (click)="goToSignUp()"> Create an account</span>
            </div>
        </div>
    </section>
    <app-signup (back)="backToSignin()" *ngIf="!isSignIn"></app-signup>
</ion-content>
