$cerulean: #0785c9;
$deep_sea_blue: #02517c;
$navy: #002c43;
$white: #f1f1f1;
$warm_grey: #707070;
  $white_two: #e8e4e4;
$dull_orange: #dfa14c;
$headerBG: #e8cba4;
$white_three: #f4f4f4;
$coral_pink: #fc5e62;
$black: #333333;
$greyish_brown_two: #3c3a3a;
$white_four: #e3e3e3;
$black_two: #343434;
$white_five: #ffffff;
  $profile-bg: #70524b;
$army-brown: #c39352;
