/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/colors";


.mat-expansion-panel {
  background-color: white !important;
}

.mat-expansion-panel-header {
  background-color: white !important;
}

.mat-expansion-panel-header-title {
  color: black !important;
  text-align: center;
  display: flex !important;
  justify-content: center;
}

.mat-expansion-indicator::after {
  color: black !important;
}

.header-wrapper {
  display: flex;
 }

.mat-horizontal-stepper-header-container {
  background: $headerBG;
}

.mat-step-icon {
  background-color: $warm_grey !important;
}

.mat-step-icon-selected {
  background-color: $deep_sea_blue !important;
}

.mat-horizontal-content-container {
  height: 100% !important;
  padding: 0 !important;
}
.mat-horizontal-stepper-content{
  height: 100% !important;
}


.mat-step-label{
  color: $warm_grey !important;
}

mat-step-header{
  display: flex !important;
  flex-direction: column !important;
}

.mat-step-icon-state-number{
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
}

.mat-horizontal-stepper-content[aria-expanded="false"] {
  display: none !important;
}


.scroll-content {
  padding-bottom: 0 !important;
}


