/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */
/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";
/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';
/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";
@import "assets/colors";

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url("assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url("assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url("assets/fonts/Roboto-Thin.ttf");
}

body, html {
  margin: 0;
  height: 100%;
  font-family: 'Roboto', Arial, serif;
}

.mat-expansion-panel {
  background-color: white !important;
}

.mat-expansion-panel-header {
  background-color: white !important;
}

.mat-expansion-panel-header-title {
  color: black !important;
  text-align: center;
  display: flex !important;
  justify-content: center;
}

.mat-expansion-indicator::after {
  color: black !important;
}

.header-wrapper {
  display: flex;
}

.mat-step-icon {
  background-color: $warm_grey !important;
}

.mat-step-icon-selected {
  background-color: $deep_sea_blue !important;
  border-color: #ce564b !important;
}

.mat-step-label {
  color: $warm_grey !important;
  font-size: 2.5vw !important;
  min-width: 40px !important;
}

.mat-step-label-selected {
  font-size: 2.5vw !important;
  min-width: 40px !important;

}

mat-step-header {
  display: flex !important;
  flex-direction: column !important;
}

.mat-step-icon-state-number {
  margin-top: 1vh !important;
  margin-bottom: 1vh !important;
  height: 50px !important;
  width: 50px !important;
  background: white !important;
  color: black !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.mat-horizontal-stepper-header-container {
  background-color: white !important;
  padding-left: 32px;
  padding-right: 32px;
}

.mat-stepper-horizontal-line {
  border-top-width: 1px !important;
  border-top-style: solid !important;
  height: 2px !important;
  margin: 0 -16px !important;
  min-width: 32px !important;
  background: #cccccc !important;
}

.scroll-content {
  padding-bottom: 0 !important;
}

.mat-stepper-horizontal {
  height: 100% !important;
}


/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  background-color: white !important;
}

.dialog-bg {
  background-color: white;
}

.mat-dialog-container {
  background-color: white;
}


